*{
        margin: 0px;
        padding: 0px;
        font-family: 'Courier New', Courier, monospace;
        box-sizing: border-box;
                    
}
.container{
        width: -900px;
        min-height: 100vh;    
      background:linear-gradient(#4203a9,#90bafc);
      color: #fff;
      padding: 10px;     
}
.calculator{
                    width: 100px;
                    max-width: 600px;
                    margin-left: 90px;
                    margin-top: 90px;
}
.calculator h1 { 
             font-size: 40px;
             margin-bottom: 100px;
}
.calculator span{
           color: burlywood;         
}
.input-box{
           margin: -50px 50px;
           padding-bottom: 90px;
           width: 250px;
           padding: 40px 20px;
           border-radius: 10px;
           background:rgba(255,255,255,0.3) ;
           display: flex;
           align-items: center;         
}
.input-box input{
         flex: 1;
         margin-right: -70px;
         margin-bottom: 80px;
         padding: 10px;
         border: 0px;
         outline: 0px;
         font-size: 20px;
         border-radius: 50px;
         position: relative;
             
}
.input-box button{
        padding-left: -10px;
        border-radius: 5px;
        background: #ffff76;
        font-weight: 500;
        color: #333;
        cursor: pointer;
}
.input-box input::-webkit-calender-picker-indicator{
        top: 0px;
        left: 0%;
        right: 0px;
        bottom: 0px;
        width: auto;
        height: auto;
        position: absolute;
        background-position: calc(100%-10px);
        background-size: 30px;
        cursor: pointer;
}
#result{
       font-size: 20px; 
}
#result span{
      color: #ffff76;  
}
   

